# **Part D - XGBoost**

In [2]:
#import required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

from collections import Counter
from datetime import datetime
import math 
from google.colab import files
import io
import datetime as dt
import re
import pandas_profiling
import pandas_profiling as pp
from math import sqrt

plt.style.use('seaborn-whitegrid')

import warnings
warnings.filterwarnings('ignore')

## **Loading training and test data**

In [4]:
uploaded = files.upload()

Saving nyc_sub_data.csv to nyc_sub_data.csv

In [5]:
#reading to a dataframe
train = pd.read_csv(io.BytesIO(uploaded['nyc_sub_data.csv']))
train.head()

   Unnamed: 0                            key  ...  dropoff_latitude passenger_count
0           0   2010-11-16 19:40:00.00000086  ...         40.719123               1
1           1  2012-12-08 23:27:00.000000232  ...         40.752022               3
2           2    2013-04-18 20:48:24.0000004  ...         40.778839               1
3           3   2013-06-18 13:18:00.00000092  ...         40.747240               2
4           4    2010-09-19 20:54:57.0000003  ...         40.776613               4

[5 rows x 9 columns]

In [6]:
#dropping null values
train = train.dropna(how='any', axis=0)

In [9]:
#uploading test data
uploaded = files.upload()
test = pd.read_csv(io.BytesIO(uploaded['test.csv']))
test.head()

Saving test.csv to test.csv

                           key  ... passenger_count
0  2015-01-27 13:08:24.0000002  ...               1
1  2015-01-27 13:08:24.0000003  ...               1
2  2011-10-08 11:53:44.0000002  ...               1
3  2012-12-01 21:12:12.0000002  ...               1
4  2012-12-01 21:12:12.0000003  ...               1

[5 rows x 7 columns]

In [13]:
# this function will also be used with the test set below
def select_within_test_boundary(df, BB):
    return (df.pickup_longitude >= BB[0]) & (df.pickup_longitude <= BB[1]) & \
           (df.pickup_latitude >= BB[2]) & (df.pickup_latitude <= BB[3]) & \
           (df.dropoff_longitude >= BB[0]) & (df.dropoff_longitude <= BB[1]) & \
           (df.dropoff_latitude >= BB[2]) & (df.dropoff_latitude <= BB[3])

BB = (-74.5, -72.8, 40.5, 41.8)
print('Old size: %d' % len(train))
train = train[select_within_test_boundary(train, BB)]
print('New size: %d' % len(train))

Old size: 100000
New size: 97889

## **Feature engineering**

In [14]:
def prepare_time_features(df):
    df['pickup_datetime'] = df['pickup_datetime'].str.slice(0, 16)
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')
    df['hour_of_day'] = df.pickup_datetime.dt.hour
    df['month'] = df.pickup_datetime.dt.month
    df["year"] = df.pickup_datetime.dt.year
    df["weekday"] = df.pickup_datetime.dt.weekday
    
    return df

In [15]:
train = prepare_time_features(train)
test = prepare_time_features(test)

### Function to get haversine distance

In [20]:
#function to calculate haversine distance
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

In [21]:
train['distance_miles'] = distance(train.pickup_latitude, train.pickup_longitude, \
                                      train.dropoff_latitude, train.dropoff_longitude)
test['distance_miles'] = distance(test.pickup_latitude, test.pickup_longitude, \
                                      test.dropoff_latitude, test.dropoff_longitude)

Calculating pickup and drop distances

In [22]:
def transform(data):
    # Distances to nearby airports, 
    jfk = (-73.7781, 40.6413)
    ewr = (-74.1745, 40.6895)
    lgr = (-73.8740, 40.7769)

    data['pickup_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                         data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_ewr'] = distance(ewr[1], ewr[0], 
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_ewr'] = distance(ewr[1], ewr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    
    return data

train = transform(train)
test = transform(test)

In [25]:
train[(train['distance_miles']==0)&(train['fare_amount']==0)]

       Unnamed: 0  ... dropoff_distance_to_lgr
36089       36089  ...                3.571049

[1 rows x 20 columns]

In [26]:
#dropping an instance of train where distance is zero and fare amount is zero
train = train.drop(index= train[(train['distance_miles']==0)&(train['fare_amount']==0)].index, axis=0)

In [28]:
#dropping an instance of train where the fare amount is 0
train = train.drop(index= train[train['fare_amount']==0].index, axis=0)

In [29]:
train[train['fare_amount'] < 2.5].shape

(9, 20)

In [30]:
#dropping the rows where the fare is less that 2.5
print("old size: %d" % len(train))
train = train.drop(index= train[train['fare_amount'] < 2.5].index, axis=0)
print("New size: %d" % len(train))

old size: 97887
New size: 97878

In [31]:
#as there are no records for passenger_count > 7, we can ignore this case
train[train.passenger_count >= 7]

Empty DataFrame
Columns: [Unnamed: 0, key, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count, hour_of_day, month, year, weekday, distance_miles, pickup_distance_to_jfk, dropoff_distance_to_jfk, pickup_distance_to_ewr, dropoff_distance_to_ewr, pickup_distance_to_lgr, dropoff_distance_to_lgr]
Index: []

## **Test train split**

In [35]:
# create copy of the data set
df_train = train.drop(columns= ['key','pickup_datetime'], axis= 1).copy()
df_test = test.drop(columns= ['key','pickup_datetime'], axis= 1).copy()
print(df_train.shape)
print(df_test.shape)

(97878, 18)
(9914, 16)

In [36]:
#test train split
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(df_train.drop('fare_amount', axis=1),
                                                    df_train['fare_amount'], test_size=0.2, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(78302, 17)
(19576, 17)
(78302,)
(19576,)

## **XGBoost model**

In [37]:
import xgboost as xgb

In [38]:
#defining parameters for the XGBoost model
params = {
   
    'max_depth': 7,
    'gamma' :0,
    'eta':.03, 
    'subsample': 1,
    'colsample_bytree': 0.9, 
    'objective':'reg:linear',
    'eval_metric':'rmse',
    'silent': 0
}

In [39]:
def XGBmodel(X_train,X_test,y_train,y_test,params):
    matrix_train = xgb.DMatrix(X_train,label=y_train)
    matrix_test = xgb.DMatrix(X_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,num_boost_round=5000, 
                    early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

model = XGBmodel(X_train,X_test,y_train,y_test,params)

[03:42:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-rmse:14.1615
Will train until test-rmse hasn't improved in 10 rounds.
[1]	test-rmse:13.7703
[2]	test-rmse:13.3912
[3]	test-rmse:13.0487
[4]	test-rmse:12.694
[5]	test-rmse:12.3495
[6]	test-rmse:12.0159
[7]	test-rmse:11.6944
[8]	test-rmse:11.382
[9]	test-rmse:11.0808
[10]	test-rmse:10.789
[11]	test-rmse:10.5063
[12]	test-rmse:10.2355
[13]	test-rmse:9.97153
[14]	test-rmse:9.73333
[15]	test-rmse:9.48864
[16]	test-rmse:9.25158
[17]	test-rmse:9.02289
[18]	test-rmse:8.80227
[19]	test-rmse:8.58922
[20]	test-rmse:8.38447
[21]	test-rmse:8.18611
[22]	test-rmse:7.99361
[23]	test-rmse:7.81926
[24]	test-rmse:7.64004
[25]	test-rmse:7.47823
[26]	test-rmse:7.31257
[27]	test-rmse:7.15244
[28]	test-rmse:6.9973
[29]	test-rmse:6.84954
[30]	test-rmse:6.70662
[31]	test-rmse:6.57716
[32]	test-rmse:6.44372
[33]	test-rmse:6.31583
[34]	test-rmse:6.19299
[35]	test-rmse:6.07567
[36]	test-rmse:5.96232
[37]	test-rmse:5.85327
[38]	test-rmse:5.74887
[39]	test-rmse:5.65522
[40]	test-rmse:5.5589
[41]	test-rmse:5.46633
[42]	test-rmse:5.37728
[43]	test-rmse:5.29299
[44]	test-rmse:5.21189
[45]	test-rmse:5.1346
[46]	test-rmse:5.06032
[47]	test-rmse:4.98957
[48]	test-rmse:4.92234
[49]	test-rmse:4.86154
[50]	test-rmse:4.79866
[51]	test-rmse:4.73945
[52]	test-rmse:4.68293
[53]	test-rmse:4.62884
[54]	test-rmse:4.57789
[55]	test-rmse:4.52925
[56]	test-rmse:4.48179
[57]	test-rmse:4.44017
[58]	test-rmse:4.39656
[59]	test-rmse:4.35631
[60]	test-rmse:4.31698
[61]	test-rmse:4.28013
[62]	test-rmse:4.24625
[63]	test-rmse:4.21229
[64]	test-rmse:4.1804
[65]	test-rmse:4.15027
[66]	test-rmse:4.12179
[67]	test-rmse:4.09353
[68]	test-rmse:4.06859
[69]	test-rmse:4.04405
[70]	test-rmse:4.02031
[71]	test-rmse:3.99825
[72]	test-rmse:3.97696
[73]	test-rmse:3.95748
[74]	test-rmse:3.93823
[75]	test-rmse:3.91855
[76]	test-rmse:3.90123
[77]	test-rmse:3.88474
[78]	test-rmse:3.86895
[79]	test-rmse:3.85454
[80]	test-rmse:3.84101
[81]	test-rmse:3.82753
[82]	test-rmse:3.81539
[83]	test-rmse:3.80315
[84]	test-rmse:3.79109
[85]	test-rmse:3.77978
[86]	test-rmse:3.76967
[87]	test-rmse:3.75971
[88]	test-rmse:3.75067
[89]	test-rmse:3.74196
[90]	test-rmse:3.73363
[91]	test-rmse:3.72437
[92]	test-rmse:3.71624
[93]	test-rmse:3.70844
[94]	test-rmse:3.70135
[95]	test-rmse:3.69505
[96]	test-rmse:3.68913
[97]	test-rmse:3.68211
[98]	test-rmse:3.67668
[99]	test-rmse:3.67142
[100]	test-rmse:3.66639
[101]	test-rmse:3.66099
[102]	test-rmse:3.65462
[103]	test-rmse:3.65046
[104]	test-rmse:3.64627
[105]	test-rmse:3.64096
[106]	test-rmse:3.63696
[107]	test-rmse:3.63263
[108]	test-rmse:3.62906
[109]	test-rmse:3.62569
[110]	test-rmse:3.62215
[111]	test-rmse:3.61886
[112]	test-rmse:3.61574
[113]	test-rmse:3.61282
[114]	test-rmse:3.60969
[115]	test-rmse:3.60712
[116]	test-rmse:3.60475
[117]	test-rmse:3.60149
[118]	test-rmse:3.59915
[119]	test-rmse:3.59741
[120]	test-rmse:3.59474
[121]	test-rmse:3.59301
[122]	test-rmse:3.59074
[123]	test-rmse:3.5881
[124]	test-rmse:3.58655
[125]	test-rmse:3.58374
[126]	test-rmse:3.58237
[127]	test-rmse:3.58026
[128]	test-rmse:3.5784
[129]	test-rmse:3.5768
[130]	test-rmse:3.57473
[131]	test-rmse:3.57267
[132]	test-rmse:3.5714
[133]	test-rmse:3.56926
[134]	test-rmse:3.56829
[135]	test-rmse:3.56658
[136]	test-rmse:3.56535
[137]	test-rmse:3.56453
[138]	test-rmse:3.56298
[139]	test-rmse:3.56151
[140]	test-rmse:3.56054
[141]	test-rmse:3.55933
[142]	test-rmse:3.55833
[143]	test-rmse:3.55803
[144]	test-rmse:3.55726
[145]	test-rmse:3.55572
[146]	test-rmse:3.55461
[147]	test-rmse:3.55209
[148]	test-rmse:3.55148
[149]	test-rmse:3.54897
[150]	test-rmse:3.54888
[151]	test-rmse:3.54758
[152]	test-rmse:3.54565
[153]	test-rmse:3.54488
[154]	test-rmse:3.54281
[155]	test-rmse:3.54165
[156]	test-rmse:3.54064
[157]	test-rmse:3.54122
[158]	test-rmse:3.54042
[159]	test-rmse:3.53907
[160]	test-rmse:3.53746
[161]	test-rmse:3.53646
[162]	test-rmse:3.53583
[163]	test-rmse:3.53439
[164]	test-rmse:3.53362
[165]	test-rmse:3.53177
[166]	test-rmse:3.53052
[167]	test-rmse:3.52968
[168]	test-rmse:3.52845
[169]	test-rmse:3.52806
[170]	test-rmse:3.52735
[171]	test-rmse:3.52633
[172]	test-rmse:3.52583
[173]	test-rmse:3.52515
[174]	test-rmse:3.52419
[175]	test-rmse:3.52398
[176]	test-rmse:3.52308
[177]	test-rmse:3.52343
[178]	test-rmse:3.52302
[179]	test-rmse:3.52247
[180]	test-rmse:3.52286
[181]	test-rmse:3.52253
[182]	test-rmse:3.52124
[183]	test-rmse:3.52043
[184]	test-rmse:3.52051
[185]	test-rmse:3.52002
[186]	test-rmse:3.52067
[187]	test-rmse:3.51831
[188]	test-rmse:3.51766
[189]	test-rmse:3.51722
[190]	test-rmse:3.5161
[191]	test-rmse:3.51663
[192]	test-rmse:3.51643
[193]	test-rmse:3.51612
[194]	test-rmse:3.51607
[195]	test-rmse:3.51612
[196]	test-rmse:3.51562
[197]	test-rmse:3.51348
[198]	test-rmse:3.51358
[199]	test-rmse:3.51362
[200]	test-rmse:3.51334
[201]	test-rmse:3.51224
[202]	test-rmse:3.51028
[203]	test-rmse:3.50954
[204]	test-rmse:3.50885
[205]	test-rmse:3.50799
[206]	test-rmse:3.50753
[207]	test-rmse:3.50716
[208]	test-rmse:3.50705
[209]	test-rmse:3.50669
[210]	test-rmse:3.50644
[211]	test-rmse:3.50587
[212]	test-rmse:3.50597
[213]	test-rmse:3.50409
[214]	test-rmse:3.50402
[215]	test-rmse:3.50362
[216]	test-rmse:3.50332
[217]	test-rmse:3.50236
[218]	test-rmse:3.50198
[219]	test-rmse:3.50006
[220]	test-rmse:3.49998
[221]	test-rmse:3.50012
[222]	test-rmse:3.49891
[223]	test-rmse:3.49715
[224]	test-rmse:3.49688
[225]	test-rmse:3.49672
[226]	test-rmse:3.49643
[227]	test-rmse:3.49469
[228]	test-rmse:3.49489
[229]	test-rmse:3.49463
[230]	test-rmse:3.4947
[231]	test-rmse:3.49455
[232]	test-rmse:3.49457
[233]	test-rmse:3.49364
[234]	test-rmse:3.49315
[235]	test-rmse:3.49307
[236]	test-rmse:3.49133
[237]	test-rmse:3.4916
[238]	test-rmse:3.49121
[239]	test-rmse:3.49076
[240]	test-rmse:3.49046
[241]	test-rmse:3.48989
[242]	test-rmse:3.48976
[243]	test-rmse:3.48831
[244]	test-rmse:3.48792
[245]	test-rmse:3.48794
[246]	test-rmse:3.48621
[247]	test-rmse:3.48605
[248]	test-rmse:3.48547
[249]	test-rmse:3.48473
[250]	test-rmse:3.48488
[251]	test-rmse:3.4848
[252]	test-rmse:3.48426
[253]	test-rmse:3.48319
[254]	test-rmse:3.48357
[255]	test-rmse:3.48347
[256]	test-rmse:3.48318
[257]	test-rmse:3.48311
[258]	test-rmse:3.48201
[259]	test-rmse:3.48172
[260]	test-rmse:3.48129
[261]	test-rmse:3.48117
[262]	test-rmse:3.48149
[263]	test-rmse:3.48137
[264]	test-rmse:3.48068
[265]	test-rmse:3.4805
[266]	test-rmse:3.48059
[267]	test-rmse:3.47992
[268]	test-rmse:3.48021
[269]	test-rmse:3.47922
[270]	test-rmse:3.4789
[271]	test-rmse:3.47879
[272]	test-rmse:3.478
[273]	test-rmse:3.47813
[274]	test-rmse:3.47709
[275]	test-rmse:3.47623
[276]	test-rmse:3.47587
[277]	test-rmse:3.47621
[278]	test-rmse:3.47617
[279]	test-rmse:3.47538
[280]	test-rmse:3.47498
[281]	test-rmse:3.4742
[282]	test-rmse:3.4736
[283]	test-rmse:3.4737
[284]	test-rmse:3.47344
[285]	test-rmse:3.47339
[286]	test-rmse:3.47312
[287]	test-rmse:3.47323
[288]	test-rmse:3.47302
[289]	test-rmse:3.47263
[290]	test-rmse:3.47136
[291]	test-rmse:3.47132
[292]	test-rmse:3.47108
[293]	test-rmse:3.47111
[294]	test-rmse:3.47053
[295]	test-rmse:3.47028
[296]	test-rmse:3.47024
[297]	test-rmse:3.46989
[298]	test-rmse:3.46993
[299]	test-rmse:3.4696
[300]	test-rmse:3.46982
[301]	test-rmse:3.46952
[302]	test-rmse:3.4685
[303]	test-rmse:3.46761
[304]	test-rmse:3.46733
[305]	test-rmse:3.46713
[306]	test-rmse:3.46728
[307]	test-rmse:3.46698
[308]	test-rmse:3.46695
[309]	test-rmse:3.46688
[310]	test-rmse:3.46601
[311]	test-rmse:3.46598
[312]	test-rmse:3.46619
[313]	test-rmse:3.46533
[314]	test-rmse:3.46524
[315]	test-rmse:3.46528
[316]	test-rmse:3.46506
[317]	test-rmse:3.46485
[318]	test-rmse:3.46471
[319]	test-rmse:3.46396
[320]	test-rmse:3.46347
[321]	test-rmse:3.46373
[322]	test-rmse:3.46326
[323]	test-rmse:3.46315
[324]	test-rmse:3.46261
[325]	test-rmse:3.46249
[326]	test-rmse:3.46233
[327]	test-rmse:3.46223
[328]	test-rmse:3.4625
[329]	test-rmse:3.46239
[330]	test-rmse:3.46213
[331]	test-rmse:3.4618
[332]	test-rmse:3.46172
[333]	test-rmse:3.46154
[334]	test-rmse:3.46152
[335]	test-rmse:3.4618
[336]	test-rmse:3.46218
[337]	test-rmse:3.46178
[338]	test-rmse:3.46171
[339]	test-rmse:3.46138
[340]	test-rmse:3.46105
[341]	test-rmse:3.46087
[342]	test-rmse:3.46077
[343]	test-rmse:3.4607
[344]	test-rmse:3.46066
[345]	test-rmse:3.46057
[346]	test-rmse:3.46046
[347]	test-rmse:3.4602
[348]	test-rmse:3.46022
[349]	test-rmse:3.46025
[350]	test-rmse:3.45988
[351]	test-rmse:3.45969
[352]	test-rmse:3.45951
[353]	test-rmse:3.45963
[354]	test-rmse:3.45942
[355]	test-rmse:3.45907
[356]	test-rmse:3.45887
[357]	test-rmse:3.45786
[358]	test-rmse:3.45797
[359]	test-rmse:3.45796
[360]	test-rmse:3.45801
[361]	test-rmse:3.45807
[362]	test-rmse:3.45799
[363]	test-rmse:3.45706
[364]	test-rmse:3.45717
[365]	test-rmse:3.45697
[366]	test-rmse:3.45675
[367]	test-rmse:3.45706
[368]	test-rmse:3.45744
[369]	test-rmse:3.45748
[370]	test-rmse:3.45741
[371]	test-rmse:3.4572
[372]	test-rmse:3.45732
[373]	test-rmse:3.45701
[374]	test-rmse:3.4565
[375]	test-rmse:3.45633
[376]	test-rmse:3.4562
[377]	test-rmse:3.45638
[378]	test-rmse:3.45643
[379]	test-rmse:3.45654
[380]	test-rmse:3.45646
[381]	test-rmse:3.45645
[382]	test-rmse:3.45648
[383]	test-rmse:3.45662
[384]	test-rmse:3.45645
[385]	test-rmse:3.4569
[386]	test-rmse:3.45689
Stopping. Best iteration:
[376]	test-rmse:3.4562